<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.tradeworkflow" level="INFO"/>
    <logger name="org.glassfish.grizzly"  level="WARN"/>
    <logger name="org.glassfish.jersey"   level="WARN"/>
    <logger name="org.mozilla.javascript" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
